version: '3.8'

services:
  backend:
    image: anishaaaa21/notes_backend:v1
    ports:
      - "3001:3001"
    env_file: .env
    restart: always
    depends_on:
      - mongo

  frontend:
    image: anishaaaa21/notes_frontend:latest
    ports:
      - "8080:80"
    restart: always

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
